<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- start app setting -->
    <add key="directory.xml.path" value="C:\Users\Owner\Desktop\Airickets-WebDeveloperTest\ProgrammerTest\Data\Computers"/>
    <add key="directory.xml.processed.path" value="C:\Users\Owner\Desktop\Airickets-WebDeveloperTest\ProgrammerTest\Data\Processed"/>

    <add key="directory.html.path" value="C:\Users\Owner\Desktop\Airickets-WebDeveloperTest\ProgrammerTest\Data\Output"/>
    <add key="directory.resources.path" value="C:\Users\Owner\Desktop\Airickets-WebDeveloperTest\ProgrammerTest\Resources"/>

    <!-- end app setting -->
  </appSettings>

  <!-- end app setting -->
</configuration>